# This is not a real Debian control file, though the syntax is compatible.
# It's project metadata for the shipper tool

Package: shipper

Description: automated shipping of open-source project releases
 shipper is a power distribution tool for developers with multiple
 projects who do frequent releases.  It automates the tedious process
 of shipping a software release, can deliver releases in correct form to
 SourceForge or Berlios, and knows how to post a release announcement to 
 freshmeat.net via freshmeat-submit.

Homepage: http://www.catb.org/~esr/shipper

XBS-Project-Tag-List: packaging, distribution
