# This is not a real Debian control file, though the syntax is compatible.
# It's project metadata for the shipper tool

Package: shipper

Description: Automated shipping of open-source project releases.
 shipper is a power distribution tool for developers with multiple
 projects who do frequent releases.  It automates the tedious process
 of shipping a software release and (if desired) tempokating a project
 web page. It can deliver releases in correct form to SourceForge,
 Berlios, and Savannah, and knows how to post a release announcement
 to freecode.com via freecode-submit.

XBS-Destinations: freecode

Homepage: http://www.catb.org/~esr/shipper

Gitorious-URL: https://gitorious.org/shipper

XBS-IRC-Channel: irc://chat.freenode.net/#shipper

XBS-Logo: shipper-logo.png

XBS-Project-Tag-List: packaging, distribution
